<div class="main-content">
  <div class="container-fluid">

    <div *ngFor="let location of locations">

      <div class="card">
        <div class="card-header card-header-tabs card-header-success">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title"><strong> {{ location.name }} - {{ location.costCenter }} </strong></span>
              <button (click)="openAddWorkerDialog(location)" mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon pull-right">
                <i class="material-icons">add</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">

            <div class="tab-pane active">
              <div class="table-responsive">
                <table class="table workers-table" *ngIf="hasWorkers(location)">
                  <thead class=" text-primary">
                    <tr>
                      <th>
                        Nome
                      </th>
                      <th>
                        Matrícula
                      </th>
                      <th>
                        Histórico
                      </th>
                      <th>
                        Deletar
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let worker of location.workers">
                      <td (click)="openChangeLocationDialog(worker)">
                        {{ worker.name }}
                      </td>
                      <td (click)="openChangeLocationDialog(worker)">
                        {{ worker.code }}
                      </td>
                      <td>
                        <button (click)="listTransitions(worker)" mat-raised-button type="submit" class="btn btn-round btn-blue btn-just-icon">
                          <i class="material-icons">history</i>
                          <div class="ripple-container"></div>
                        </button>
                      </td>
                      <td>
                        <button (click)="deleteWorker(worker)" mat-raised-button type="submit" class="btn btn-red btn-round btn-just-icon">
                          <i class="material-icons">delete</i>
                          <div class="ripple-container"></div>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>