.card {
    margin-bottom: 60px
}

.worker-item {
    cursor: pointer;
}

// .tool-item :hover {
//     background-color: #eaeaea
// }

table.workers-table tr:hover td {
    background-color: #eaeaea;
    cursor: pointer;
}

.btn.btn-red, .btn.btn-red:focus, .btn.btn-red:hover {
    background-color: #f00;
    color: #ffffff; 
}

.btn.btn-blue, .btn.btn-blue:focus, .btn.btn-blue:hover {
    background-color: #2196f3;
    color: #ffffff; 
}